
body
	.navbar-default
		margin 0
		background white
		border-bottom 10px solid #ccc
	nav
		.logo
				margin 0
				overflow hidden
				height 6em
				img
					margin 0 2em
					width 16em
		.menu
			li 
				.nav
					color #666
					border-radius initial
					font-size 1.2em
					font-family Arial
					margin 0em 0.5em 0em 0.3em
					padding 2.5em 1em
					-webkit-transition: background 0.5s ease
					-moz-transition: background 0.5s ease
					-o-transition: background 0.5s ease
					transition: background 0.5s ease
					&:hover
						background #EEEEEE
	.padre
		background #00a5a1
		.fondo
			background #00a5a1                                   
			height 100%
			.texto
				.texto2
					margin-top 2.5em
					h2
						color white	
						font-family arial
					p 
						color #CAFFFF
						font-size 1.3em
						margin 2em 0
				.personas
					img
						width 91%
						margin-left 5.6em
	.fondo2
		background #333
		height 10em
		.cuadros
			.cuadros2
				ul
					display: -webkit-inline-box
					padding 0
					list-style-type: none

					.gris
						background #333 !important
					.rosado 
						background #0b4c7e !important
					.naranjo
						background #fa822b !important
					.amarillo
						background #ffcd52 !important
					.cuadro
						background #6a0731
						height 10em
						width 10.1em

						.gris 
							background #666 !important
						.rosado
							background #0060a7 !important
						.naranjo
							background #ffaa57 !important
						.amarillo
							background #ffd76c !important

						.circulo
							background #850a39 
							border-radius 50%
							display inline-block
							margin-left 2em
							margin-top 1em
							height 6em
							width 6em	
						a 
							color white
							font-size 1.2em
							font-weight bold
							text-decoration none
							text-align center
							padding 0 0 0 2em
							position relative
							bottom 2em
						i 
							color white
							font-size 33px
							top -1.9em
							left 1.6em
					
	.fondo3
		background #EEEEEE
		height 60em
		.letras
			.negra
				color #323232
				margin-top 2em
				font-size 35px

			.images
				.u
					width 40%
					margin-top 2em
					margin-left 10em

				.d 
					width 32%
					margin-left 4em

			.parrafo
				p 
					color #323232
					font-size 2em
					text-align center
					margin-top 4em

	.fondo4
		background white
		height 60em
		.contenedor
			.negra2
				margin 2em 0 1.7em 0
			.imagen
				img
					position inline-block
					margin-left 8em
					width 73%

	.fondo5
		background #f7f7f7
		border-top 1px solid #B0B0B0
		height 7em

		.detalles1
			color #323232
			font-size 1.3em
			list-style-type none
			margin-top 2em
			padding 0
			li 	
				float left
			.verde
				color #00a5a1
				font-weight bold
				margin-left 1em
				margin-right 0.4em
			.icono
				color #626161
				margin-left 3em
				margin-right 0.5em

@media screen and (max-width:1199px)

	body
		.container
			margin 0
			width 100%
		nav
			.logo
				padding 0
				img
					margin 1.2em 1em 0 1em
					width 10em
			.menus
				.menu
					li
						.nav
							margin 0
		.padre
			.fondo
				.texto
					.personas
						padding 0
						img
							width 100%
							margin 0

		.fondo3
			background blue
			height 50em
			.letras
				.images
					.u
						margin-left 1.5em
						margin-right 0
				.parrafo
					p 
						margin-top 2.5em
					
		.fondo4
			height 54em
			.contenedor
				.imagen
					img
						margin-left	3em
	

			
